body{
    background-color: var(--primary-background);
}
@font-face {
    font-family: Playfair Display;
    src: url("PlayfairDisplay-Italic-VariableFont_wght.ttf") format("TrueType");
    src: url("PlayfairDisplay-VariableFont_wght.ttf") format("TrueType");
}
nav{
    height: 60px;
    border-radius: 10px;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-beige);
    margin: 20px;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0/10%); 
}
img{
}
p{
    font-family: Playfair Display;
    font-style: italic;
}
.note{
    background-color: red;
    width: 100px;
    height: 100px;
}